
<div class="image-background info"></div>

<h1 id="information-title">Site Information</h1>

<div id="intro">
	<h2>{{introduction}}</h2>
	<img id="portrait" src="../../../assets/img/retrato.jpg" alt="">
</div>

<!-- <a href="https://www.freepik.es/fotos-vectores-gratis/amor">Vector de Amor creado por gstudioimagen - www.freepik.es</a> -->

<div id="aboutRTG">
	<h1 class="border-title">{{aboutRTG}}</h1>


	<div class="project-tool" id="angular-tool">
		<img id="portrait" src="../../../assets/img/angular-icon.png" alt="">
		<p>{{angularText}}</p>
	</div>



	<div class="project-tool" id="firebase-tool">
		<img id="portrait" src="../../../assets/img/firebase-icon.png" alt="">
		<p>{{firebaseText}}</p>
	</div>



	<div class="project-tool" id="rawg-tool">
		<img id="portrait" src="../../../assets/img/rawg-icon.png" alt="">
		<p>{{rawgText}} I do not own the images or data of the games, they belong to <a href="https://rawg.io/" target="_blank">rawg.io</a></p> 
	</div>



	<div class="project-tool" id="animejs-tool">
		<img id="portrait" src="../../../assets/img/animejs-icon.jpg" alt="">
		<p>{{animejsText}} More information in <a href="https://github.com/juliangarnier/anime/" target="_blank">his Github</a></p>
	</div>




</div>


