
<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<header>
  <ul class="">
    <li class="secondary" [routerLinkActive]="['actived']" [routerLink]="['/mygames']"> <a>LIBRARY</a> <!--img src="../assets/img/input-gaming.png"--></li>
    <li class="principal" [routerLinkActive]="['actived']" [routerLink]="['/roller']"> <a>HOME</a> <!--img src="../assets/img/D20Roll.png"--></li>
    <li class="secondary"  [routerLinkActive]="['actived']" [routerLink]="['/info']"> <a>INFO</a> <!--img src="../assets/img/sign-info-icon.png"--></li>
  </ul>
<!-- 
  <div id="logo">
    <img id="logo-image" [routerLink]="['/roller']" src="../assets/img/D20Roll.png" alt="">
  </div>

-->
</header>

<div class="clearfix"></div>

<div [@routeAnimations]="prepareRoute(outlet)" id="content">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<footer>
  <p>Roll The Game. Powered by Aldres &copy;</p>
</footer>